body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 36px;
}

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#gameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
  gap: 50px;
}

#Container {
  display: flex;
  justify-content: center;
}

#scoreboard {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

#scoreboard h2 {
  margin-top: 0;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

table {
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  margin: 20px auto;
  border: 5px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.2);
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  border: 5px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#restartButton {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#restartButton:hover {
  background-color: #ff3d2e;
}

#restartButton:active {
  transform: scale(0.98);
}

#status div {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status .active svg {
  filter: none;
}

#status .inactive svg {
  filter: grayscale(100%);
  opacity: 0.6;
}
